{
    ecmaFeatures: {
			modules: true ,
			blockBindings: true,
			destructuring: true,
			arrowFunctions: true,
			defaultParams: true,
			classes: true,
			superInFunctions: true,
			templateStrings: true,
			restParams: true
    },
		rules: {
			"no-underscore-dangle": 0,
			curly: [2, "multi-line"]
		}
}